TMSLiteRegressionAutomation/bin
TMSLiteRegressionAutomation/.classpath
TMSLiteRegressionAutomation/Libs
TMSLiteRegressionAutomation/.idea
TMSLiteRegressionAutomation/androidapp
TMSLiteRegressionAutomation/*.class
TMSLiteRegressionAutomation/E%%WebUI%Sample Web Testing Project.prj.iml
/bin/
